fastapi
uvicorn[standard]
pydantic
pydantic-settings

sqlalchemy
psycopg[binary]
alembic

python-jose[cryptography]
passlib[bcrypt]
email-validator

python-multipart

#data analysis part 
pandas
numpy
matplotlib
seaborn